@import '~mand-mobile/components/_style/mixin/util'
@import '~mand-mobile/components/_style/mixin/theme.components'
@import '~mand-mobile/components/_style/mixin/theme.basic'
@import '~nib/lib/nib/vendor'
@import '~nib/lib/nib/gradients'

color-primary = #e7f008
button-primary-active-fill = #02802c
toast-fill = rgba(0, 0, 0, 1)
toast-zindex = 2600
slider-bg-base = #CCC

popup-title-bar-bg = #EEE
tab-picker-bg = #EEE
tab-picker-height = 50vh
